#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

form div{
  margin: 3rem 0;
}
p{
  margin: 0;
}
select{
  margin-bottom: 1rem;
}
button {
  margin-top: 1rem;
}

label {
  transition: background-color 0.2s ease-in-out;
}

.respuesta-correcta {
  background-color: #084908;
}

.respuesta-incorrecta {
  background-color: #7f2929;
}

